<div class="widget-about widget">
	<h4 class="widget__title">About Our Choir</h4>
	<div class="widget__content">
    <p><strong>We are a growing choir program at Forestwood Middle School with a history of success on the stage and in competition.</strong></p>
    <p>Our choir has grown from 130 members to over 200+ singers across 6th, 7th, and 8th grade in just the last few years. Our singers frequently earn Superior Ratings at UIL competitions, Solo & Ensemble, and other local competitions.</p>
  </div>
</div>