<div class="widget-recent widget">
	<h4 class="widget__title">Choir Class Schedule</h4>
	<div class="widget__content">
    <table class="choirschedule events">
      <tr>
        <th>Period</th>
        <th>Class</th>
      </tr>
      <tr>
        <td>1st </td>
        <td>6th Grade Cambiata</td>
      </tr>
      <tr>
        <td>2nd </td>
        <td>Cantus</td>
      </tr>
      <tr>
        <td>3rd </td>
        <td>Tenor/Bass Choir</td>
      </tr>
      <tr>
        <td>4th </td>
        <td>Conference</td>
      </tr>
      <tr>
        <td>5th </td>
        <td>6th Grade Treble</td>
      </tr>
      <tr>
        <td>6th </td>
        <td>Bel Canto</td>
      </tr>
      <tr>
        <td>7th </td>
        <td>Lyric</td>
      </tr>
      <tr>
        <td>8th </td>
        <td>6th Grade Treble</td>
      </tr>
    </table>
	</div>
</div>