<div class="widget-recent widget">
	<h4 class="widget__title">TMEA Sponsors</h4>
	<div class="widget__content">
		<h4><a href="/sponsorships/#conductor">🎵 Conductor's Circle</a></h4>
		{{ partial "sponsors.html" (dict "context" . "level" "conductor") }}
		<h4><a href="/sponsorships/#virtuoso">🎶 Virtuoso</a></h4>
		{{ partial "sponsors.html" (dict "context" . "level" "virtuoso") }}
		<h4><a href="/sponsorships/#harmony">💫 Harmony</a></h4>
		{{ partial "sponsors.html" (dict "context" . "level" "harmony") }}
		<h4><a href="/sponsorships/#friend">🎤 Friend of Cantus</a></h4>
		{{ partial "sponsors.html" (dict "context" . "level" "friend") }}

		<h4><a href="/sponsorships/">Thank you to our sponsors!</a></h4>
	</div>
</div>