<h3><a href="https://my.cheddarup.com/c/forestwood-middle-school-choir-tmea-fundraiser" target="_blank">Friend of Cantus – $250</a></h3>
<p>Name listed in digital concert programs and on choir website.</p>

<h3><a href="https://my.cheddarup.com/c/forestwood-middle-school-choir-tmea-fundraiser" target="_blank">Harmony – $500</a></h3>
<p>All above benefits, plus recognition on Forestwood Choir social media.</p>

<h3><a href="https://my.cheddarup.com/c/forestwood-middle-school-choir-tmea-fundraiser" target="_blank">Virtuoso – $750</a></h3>
<p>All above benefits, plus verbal acknowledgment at concerts.</p>

<div style="background-color: #073355; color: white; padding: 12px;font-size: larger;">
  <h1 style="color: white;"><a style="color: white;" href="https://my.cheddarup.com/c/forestwood-middle-school-choir-tmea-fundraiser" target="_blank">Conductor’s Circle – $1,000</a></h1>
  <p>All above benefits, plus name/logo on TMEA trip shirts and group thank-you card signed by students & director!</p>
</div>