{{$data := .Site.Data.booster.chairs}}
<table class="board">
    <tr>
        <th class="board-col" style="text-align:left">Position</th>
        <th class="board-col" style="text-align:left">Member</th>
        <!-- <th class="board-col" style="text-align:left">Contact</th> -->
    </tr>
    {{ range $key, $value := $data }}
    <tr>
        <td>{{.position}}</td>
        <td>{{.fname}} {{.lname}}</td>
        <!-- <td> 
            {{ if .email }}
            <a href="mailto:{{.email}}">{{.email}}</a>
            {{end}}
        </td> -->
    </tr>
    {{ end }}
</table>