<div class="ui container">
  <div class="ui grid">
    <div class="ui sixteen column">
      <div id="calendar"></div>
    </div>
  </div>
</div>

<script>
	$(document).ready(function() {
		var strDate = (new Date()).toISOString().split('T')[0];
        console.log(strDate)
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month'
			},
			defaultDate: strDate,
			navLinks: true, // can click day/week names to navigate views
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: [
				{
					title: 'Conference',
					start: '2016-12-11',
					end: '2016-12-13'
				},
				{
					title: 'Meeting',
					start: '2016-12-12T10:30:00',
					end: '2016-12-12T12:30:00'
				},
				{
					title: 'Lunch',
					start: '2016-12-12T12:00:00'
				},
				{
					title: 'Birthday Party',
					start: '2016-12-13T07:00:00'
				},
				{
					title: 'Click for Google',
					url: 'https://google.com/',
					start: '2016-12-28'
				},
                {
                    title: ' Choir Registration Day',
                    start: '2024-08-10T10:00:00',
                    end: '2024-08-10T11:30:00'
                },
                {
                    title: 'Handbook Form Due',
                    start: '2024-08-23'
                },
                {
                    title: 'Photo Due',
                    start: '2024-08-23'
                },
                {
                    title: 'Choir Forms Due',
                    start: '2024-08-23'
                },
                {
                    title: 'Choir Fees Due',
                    start: '2024-08-23'
                },
                {
                    title: 'Shirt Order Deadline',
                    start: '2024-08-23'
                },
                {
                    title: 'FMS Open House',
                    start: '2024-08-27T18:00:00'
                },
                {
                    title: 'Cluster Concert Rehearsal Field Trip',
                    start: '2024-10-03'
                    
                },
                {
                    title: 'Students Arrive Cluster Concert',
                    start: '2024-10-03T17:30:00'
                },
                {
                    title: 'Cluster Concert Begins',
                    start: '2024-10-03T18:00:00'
                },
                {
                    title: 'Treble Choir Concert',
                    start: '2024-10-08T18:00:00'
                },
                {
                    title: 'Tenor/Bass Choir Concert',
                    start: '2024-10-10T18:00:00'
                },
                {
                    title: 'All Region Auditions',
                    start: '2024-10-19'
                },
                {
                    title: '8th Grade Tenor/Bass Social',
                    start: '2024-11-04'
                },
                {
                    title: "Veteran's Day Performance",
                    start: '2024-11-11'
                },
                {
                    title: "All Region Clinic and Concert",
                    start: '2024-11-19'
                },
                {
                    title: "Blueprint Field Trip",
                    start: '2024-12-06'
                },
                {
                    title: "6th Treble Combined Rehearsal",
                    start: '2024-12-11'
                },
                {
                    title: "Choir Concert",
                    start: '2024-12-13'
                },
                {
                    title: "Elementary School Tour",
                    start: '2024-12-16'
                },
                {
                    title: "MS/HS Choir Cluster Social",
                    start: '2025-01-29'
                },
                {
                    title: "PreUIL",
                    start: '2025-02-21'
                },
                {
                    title: "PreUIL Concert",
                    start: '2025-02-27'
                },
                {
                    title: "UIL Concert and Contest",
                    start: '2025-03-03',
                    end: '2025-03-05'
                },
                {
                    title: "6th Treble Combined Rehearsal",
                    start: '2025-03-06'
                },
                {
                    title: "Solo and Ensemble Contest",
                    start: '2025-04-05'
                },
                {
                    title: "Spring Sing Contest",
                    start: '2025-04-25'
                },
                {
                    title: "6th Treble Combined Rehearsal",
                    start: '2025-05-06'
                },
                {
                    title: "Choir Concert",
                    start: '2025-05-08'
                }
			]
		});
		
	});
</script>