<div class="row">
  <div class="col-4"><img src="https://placehold.co/480x570.png?text=Head\nDirector" alt=""></div>
  <div class="col-8">
      <h3>Kateri Lavacek<br>Head Choir Director</h3><em><a href="mailto:lavacekk@lisd.net">lavacekk@lisd.net</a></em>
      <br><br>
      <p>Kateri Lavacek has been the Head Director at Forestwood Middle School since 20xx.</p>  
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus per ultricies adipiscing tempus rhoncus ridiculus curabitur vitae nostra justo bibendum.</p>
      <p>Accumsan vehicula parturient id platea vivamus sagittis justo eu condimentum scelerisque venenatis. Malesuada eget purus class vehicula aenean donec magna gravida posuere platea maecenas.</p>
  </div>
</div> 
<div class="row">
  <div class="col-3"><img src="https://placehold.co/480x570.png?text=Assistant\nDirector" alt=""></div>
  <div class="col-9">
      <h3>Hannah Watkins<br>Assistant Choir Director</h3><em><a href="mailto:watkinsh@lisd.net">watkinsh@lisd.net</a></em>
      <br><br>
      <p>Hannah Watkins has served as the Assistant Director at Forestwood Middle School since 20xx. Prior to being at Forestwood...</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dapibus molestie interdum potenti montes proin ridiculus. Ultricies ultrices volutpat per consequat tempus natoque. Metus semper montes tellus sapien torquent lacus.</p>
      <p>Urna ad volutpat lorem dictumst vestibulum dui. Luctus nam tellus leo ad adipiscing facilisi. Suscipit vivamus tempor habitant curae nostra nascetur. Praesent feugiat litora diam tempor primis amet.</p>
  </div>
</div>
