<div class="row">
  <div class="col-4"><img src="/img/directors/headdirector.webp" alt=""></div> 
  <!-- <img src="https://placehold.co/480x570.webp?text=Head\nDirector" alt=""> -->
  <div class="col-8">
      <h3>Kateri Lavacek<br>Head Choir Director</h3><em><a href="mailto:lavacekk@lisd.net">lavacekk@lisd.net</a></em>
      <br><br>
      <p>Mrs. Lavacek has been the Head Choir Director at Forestwood since 2022.  Our program has six different choirs and more than 200 students. In her 18-year career, she has taught music to students of every age - early childhood through college and loves teaching Choir!</p>  
      <p>She holds her Bachelors of Music Education from Indiana University’s Jacobs School of Music and her Masters in Choral Conducting from the University of North Texas.</p>
      <p>Mrs. Lavacek is an active clinician, adjudicator, accompanist, and mentor teacher with a passion for helping young teachers and music education students. She lives in Corinth with her husband and two children and loves hiking and cooking.  Mrs. Lavacek is thrilled to have Ms. Watkins as her fantastic co-director!</p>
  </div>
</div> 
<div class="row">
  <div class="col-3"><img src="/img/directors/assistantdirector.webp" alt=""></div>
  <!-- <img src="https://placehold.co/480x570.webp?text=Assistant\nDirector" alt=""> -->
  <div class="col-9">
      <h3>Hannah Watkins<br>Assistant Choir Director</h3><em><a href="mailto:watkinsh@lisd.net">watkinsh@lisd.net</a></em>
      <br><br>
      <p>This is Ms. Watkins’ first year as a teacher after having graduated from the University of North Texas in December and being a student teacher at Forestwood last year! She loves teaching middle school, and has grown so much from your kiddos. She has her hands in several bags, including being a voice teacher, church singer, dogsitter, waitress, and even a Disney princess party character! She is ecstatic to teach your students, and is so grateful for Mrs. Lavacek for her leadership and guidance.</p> 
</div>
