<div class="row">
  <div class="col-4"><img src="/img/directors/headdirector.webp" alt=""></div> 
  <!-- <img src="https://placehold.co/480x570.webp?text=Head\nDirector" alt=""> -->
  <div class="col-8">
      <h3>Kateri Lavacek<br>Head Choir Director</h3><em><a href="mailto:lavacekk@lisd.net">lavacekk@lisd.net</a></em>
      <br><br>
      <p>Mrs. Lavacek has served as the Head Choir Director at Forestwood Middle School since 2022. The FMS choral program includes six distinct choirs and over 250 students. With 19 years of teaching experience, she has worked with students from early childhood through college and is passionate about sharing her love of choral music</p>  
      <p>She earned her Bachelor of Music Education from Indiana University’s Jacobs School of Music and her Master of Music degree in Choral Conducting from the University of North Texas.</p>
      <p>Mrs. Lavacek is also an active clinician, adjudicator, accompanist, and mentor teacher. She is dedicated to supporting young educators and music education students. Outside of school, she lives in Corinth with her husband and two children, and enjoys hiking, cooking, playing board and card games, and watching <em>The Office</em>. Mrs. Lavacek is thrilled to work alongside her fantastic co-director, Ms. Watkins!</p>
  </div>
</div> 
<div class="row">
  <div class="col-3"><img src="/img/directors/assistantdirector.webp" alt=""></div>
  <!-- <img src="https://placehold.co/480x570.webp?text=Assistant\nDirector" alt=""> -->
  <div class="col-9">
      <h3>Hannah Watkins<br>Assistant Choir Director</h3><em><a href="mailto:watkinsh@lisd.net">watkinsh@lisd.net</a></em>
      <br><br>
      <p>This is Ms. Watkins’ second year at FMS and is so excited to be back! Ms. Watkins graduated from the University of North Texas and was a student teacher at Forestwood! She loves teaching middle school and has grown so much from your kiddos. She has her hands in several bags, including being a voice teacher, yoga instructor, church singer, dogsitter, and even a Disney princess party character! She is ecstatic to teach your students and is so grateful to Mrs. Lavacek for her leadership and guidance.</p> 
</div>
